<div class="panel panel-default outer-panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Language Detail</h3></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @language.name %></dd>
      <dt>Disabled?</dt>
      <dd><%= @language.is_disabled %>
    </dl>
  </div>
</div>
