<div class="container-fluid">
	<div class="wishlist-header">
		<h3 class="list-wishlist">Wishlists for <%= @campaignName %></h3>
		<%= link_to "Add Wishlist", "home/wishlist?name=ABCDE" , :class =>'btn btn-info add-wishlist'%>
	</div>
	<table class="table list-wishlist">
		<tr class="table row list-wishlist">
			<th>Reader Name</th>
	    	<th>Reader Age</th>
	    	<th>Reader Gender</th>
	    	<th>Created at</th>
	    	<th>Updated at</th>
	    	<th></th>
	    	<th></th>
		</tr>
		<% @wishlist.each do |w| %>
		<tr class="table row list-wishlist-info">
		 	<td>w.reader_name</td>
			<td>w.reader_age</td>
			<td>w.reader_gender</td>
			<td>w.created_at</td>   
			<td>w.updated_at</td> 
			<td><%= link_to "Edit", "home/wishlist?name=ABCDE" , :class =>'btn btn-secondary edit-wishlist'%></td>  
			<td><%= link_to "Delete", "home/wishlist?name=ABCDE" , :class =>'btn btn-secondary delete-wishlist'%></td> 
		</tr>
		<% end %>
	</table>
</div>
