<div class="list-group-item book-entry">
  <span><img src="<%= wishlist_entry.catalog_entry.book.cover_image_url.html_safe %>" /></span>
  <span id="book-title"><%= wishlist_entry.catalog_entry.book.title.html_safe %></span>
</div>
