<div style="background-image: url('<%= asset_url('kids_bg_4.jpg') %>'); background-size: contain; background-repeat: no-repeat; width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="padding: 12px;">
        <h1 class="text-center" style="">A Donation on Your Behalf!</h1>
        <h2><%= @donation.in_name_of %>,</h2>
        <p>A donation of <%= number_to_currency(@donation.amount) %> was made in your name to the <strong>My Home Library</strong> program. 
        This donation provides home libraries for <%= Donation.where(confirmation_code: params[:code]).count %> kids in the Houston area.
        </p>
        <p>
        <h3>What is My Home Library?</h3>
        <p>My Home Library is a program that uses a web-based tool hosted by the Barbara Bush Houston Literacy Foundation. Through the My 
        Home Library web-based tool, community members are able to sponsor a home library for an economically disadvantaged child. 
        My Home Library was developed in late 2016 in partnership with Credera and a team of volunteer technologist from across the Houston community.
        </p>

    </div>
</div>