
<div class="container home">

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading">Start your library</h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Make a Wishlist</a>
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="featurette-heading">Help promote literacy</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Donate</a>
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Find more ways to help. <span class="text-muted">Thanks.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive center-block" data-src="/assets/images/logo.png" alt="Barbara Bush Houston Literacy Foundation" />
    </div>
  </div>

  <hr class="featurette-divider">
</div>
