<div class="container-fluid home">

  <div class="row featurette hero-top">
    <div class="col-sm-3 ">
      <span class="pull-right mhl-logo">
        <img src="<%= asset_path('my-home-library.png') %>" alt="My Home Library Logo" />
      </span>
    </div>
    <div class="col-sm-6">
      <h2 class="featurette-heading">My Home Library</h2>
      <p class="lead">
        Books are essential tools for reading success. Through My Home Library, disadvantaged children across Houston gain access to their very own home library.
      </p>
    </div>
  </div>

  <div class="row featurette hero1">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Sponsor a child</h2>
      <p class="lead">
        Through your tax-deductible gift of $30, you have the power to make a meaningful difference by
        providing a home library to a low-income child in Houston.
      </p>
      <p>
        <%= link_to 'Sponsor', search_url, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>

  <!-- <div class="row featurette hero2">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Start your library</h2>
      <p class="lead">
        Children in our partner schools can pick books they want to own in their
        home library by creating a wish list.
      </p>
      <p>
        <a href="/partner/" class="btn btn-primary btn-lg">Make a Wishlist</a>
      </p>
    </div>
  </div> -->
  <%= render :partial => 'common/sponsor' %>

  <div class="row featurette hero-bottom">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Find more ways to help</h2>
      <a class="center-block text-center" href="http://www.bushhoustonliteracy.org/">
        <img class="logo" src="<%= asset_path('logo.png') %>" alt="Barbara Bush Houston Literacy Foundation" />
      </a>
    </div>
  </div>
</div>
