<div class="container-fluid home">

  <div class="row featurette hero-top">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">My Home Library</h2>
      <p class="lead">
        Research is clear that if children have access to books in their home and have choice in selecting books,
        there is a higher probability that they will read more frequently and achieve at higher levels
        academically. Unfortunately, far too many Houston children live in poverty and do not have a home library.
        My Home Library enables low-income children to create a wish list of books for a home library and for
        members of the community to make a child's wish come true.
      </p>
    </div>
  </div>

  <div class="row featurette hero1">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Sponsor a child</h2>
      <p class="lead">
        Through your tax-deductible gift of $30, you have the power to make a meaningful difference by
        providing a home library to a low-income child in Houston.
      </p>
      <p>
        <a href="/home/search" class="btn btn-primary btn-lg">Donate</a>
      </p>
    </div>
  </div>

  <div class="row featurette hero2">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Start your library</h2>
      <p class="lead">
        Children in our partner schools can pick books they want to own in their
        home library by creating a wish list.
      </p>
      <p>
        <a href="/partner/" class="btn btn-primary btn-lg">Make a Wishlist</a>
      </p>
    </div>
  </div>

  <div class="row featurette hero-bottom">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Find more ways to help</h2>
      <a href="http://www.bushhoustonliteracy.org/">
        <img class="logo" src="<%= asset_path('logo.png') %>" alt="Barbara Bush Houston Literacy Foundation" />
      </a>
    </div>
  </div>
</div>
