<div class="container-fluid home">

  <div class="row featurette hero1">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Help promote literacy</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Donate</a>
      </p>
    </div>
  </div>

  <div class="row featurette hero2">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Start your library</h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
      <p>
        <a href="#" class="btn btn-primary btn-lg">Make a Wishlist</a>
      </p>
    </div>
  </div>

  <div class="row featurette hero3">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="featurette-heading">Find more ways to help. <span class="text-muted">Thanks.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      <a href="http://www.bushhoustonliteracy.org/">
        <img class="logo" src="/assets/logo.png" alt="Barbara Bush Houston Literacy Foundation" />
      </a>
    </div>
  </div>
</div>
