<div class="row featurette hero-top">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="featurette-heading">Home Libraries</h2>
    <p class="lead">
      Search for a <strong>Home Library</strong> to sponsor and begin to make a child's wish come true for a $30 tax-deductible donation. You can also make a general donation to this cause with the button below. Thank you for your support.
    </p>
    <p>
      <%= link_to 'Donate', donate_url({:wishlist_id => 0, :amount => 30.00, :campaign_name => "General", :schoolname => "None"}), :class => 'btn btn-primary' %>
    </p>
    <%= form_tag('/wishlists', method: :get, remote: true) do %>
      <div class="input-group">
        <input class="form-control" name="term" id="term" placeholder="Name, teacher, or school" />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-3">

    <% @wishlists.in_groups_of(6, false) do |chunk| -%>
    <div class="row" id="search_results">
      <%= render partial: 'wishlist', collection: chunk %>
    </div>
    <% end -%>

  </div>
</div>

<%= render :partial => 'common/sponsor' %>
