<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Campaign Management</h3></div>
  <div class="panel-body">
    <p>The following campaigns are associated with this Organization.</p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Deadline</th>
		<th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => 'campaign', :collection => @campaigns %>
    </tbody>
  </table>
<<<<<<< HEAD
=======
  <div style="margin-top:20px;">
    <button class="btn btn-primary">Add New Campaign</button>
  </div>
>>>>>>> a01ed5a49d464c7ba2af54a5e9e8a7d0f42468f5
</div>
<%= link_to 'Add New Campaign <i class="glyphicon glyphicon-plus"></i>'.html_safe, new_admin_organization_campaign_url, :class => "btn btn-primary btn-lg" %>
