<h2 class="featurette-heading">Campaigns for <%= @organization.name %></h2><br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
    <p>The following campaigns are associated with <%= @organization.name %>.</p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Deadline</th>
		<th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => 'campaign', :collection => @campaigns %>
    </tbody>
  </table>
</div>
<%= link_to 'Add New Campaign <i class="glyphicon glyphicon-plus"></i>'.html_safe, new_admin_organization_campaign_url, :class => "btn btn-success btn-lg" %>
