<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Campaign Management</h3></div>
  <div class="panel-body">
    <p>The following campaigns are associated with this Organization.</p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
  <%= render :partial => 'campaign', :collection => @campaigns %>
    </tbody>
  </table>
</div>
