# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 15eb97aea8dfdaee48753e12026ceec634e294c300071fa8fff142d0a80df74b624732a01bdff64af4f99d0c54bdd75fbe586d9decb0086228fefed3937c0c6d
  auth0_client_id: JT45IETBlaprvSryZ9VTJrH1FcxoHVQu
  auth0_client_secret: xfNsExroaB2EF-Z5GfZP8ffmegXhaYZiYjgisGTF2mPLyhFXYKF3ydLtns7eF56-
  auth0_api_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJzYTc2NThqcWNkUkZobElsYVJFVUM3NHZDRmNlNDZkRyIsInNjb3BlcyI6eyJ1c2VycyI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiXX0sInVzZXJzX2FwcF9tZXRhZGF0YSI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiLCJjcmVhdGUiXX19LCJpYXQiOjE0NzQ1OTkyNTAsImp0aSI6IjI2OWQxNGE4ODZhZWZmMTU3NTcwYWY2OWIwNjliZGFlIn0.KzFer_YIv8fLEcAzmhLdljrTW6diZDuqnjhXOj2YEL0

test:
  secret_key_base: 24179171b9620fb3c0edf76cbc19fb5a4154701020dcfc51d467ea1ffe9e2100aafa1fe078d55f2530142eb9c7ee78c60782abea6cf6bd64ff12295d1c39cba5
  auth0_client_id: JT45IETBlaprvSryZ9VTJrH1FcxoHVQu
  auth0_client_secret: xfNsExroaB2EF-Z5GfZP8ffmegXhaYZiYjgisGTF2mPLyhFXYKF3ydLtns7eF56-
  auth0_api_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJzYTc2NThqcWNkUkZobElsYVJFVUM3NHZDRmNlNDZkRyIsInNjb3BlcyI6eyJ1c2VycyI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiXX0sInVzZXJzX2FwcF9tZXRhZGF0YSI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiLCJjcmVhdGUiXX19LCJpYXQiOjE0NzQ1OTkyNTAsImp0aSI6IjI2OWQxNGE4ODZhZWZmMTU3NTcwYWY2OWIwNjliZGFlIn0.KzFer_YIv8fLEcAzmhLdljrTW6diZDuqnjhXOj2YEL0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  auth0_client_id: <%= ENV["AUTH0_CLIENT_ID"] %>
  auth0_client_secret: <%= ENV["AUTH0_CLIENT_SECRET"] %>
  auth0_api_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJzYTc2NThqcWNkUkZobElsYVJFVUM3NHZDRmNlNDZkRyIsInNjb3BlcyI6eyJ1c2VycyI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiXX0sInVzZXJzX2FwcF9tZXRhZGF0YSI6eyJhY3Rpb25zIjpbInJlYWQiLCJ1cGRhdGUiLCJjcmVhdGUiXX19LCJpYXQiOjE0NzQ1OTkyNTAsImp0aSI6IjI2OWQxNGE4ODZhZWZmMTU3NTcwYWY2OWIwNjliZGFlIn0.KzFer_YIv8fLEcAzmhLdljrTW6diZDuqnjhXOj2YEL0
