
<ul class="list-group">
  <li class="list-group-item">
    <h4>Wishlists Created</h4>
    <p><%= @data[:wishlists] %></p>
  </li>
  <li class="list-group-item">
    <h4>Donations Made</h4>
    <p><%= number_to_currency(@data[:donations]) %></p>
  </li>
  <li class="list-group-item">
    <h4>Wish Lists Sponsored</h4>
    <p><%= @data[:sponsored_wishlists] %> out of <%= @data[:wishlists] %></p>
  </li>
</ul>
