
<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/admin/users">Manage Users</a></li>
  <li role="presentation"><a href="/admin/organizations">Manage Organizations</a></li>
  <li role="presentation"><a href="/admin/catalog">Manage Catalog</a></li>
</ul>
