<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Edit Organization</h3></div>
  <div class="panel-body">
    <p>Please filling all fields to create new organization.</p>
  </div>
  <%= render :partial => 'form'%>
</div>
