<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Organization Management</h3></div>
  <div class="panel-body">
  <p>Manage your organizations here.</p>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Contact Name</th>
      <th>Contact Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'organization', :collection => @organizations %>
    </tbody>
  </table>
</div>
<%= link_to "New Organization", new_admin_organization_url, :class => "btn btn-success btn-lg" %>