<h2 class="featurette-heading">Organizations</h2><br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Contact Name</th>
      <th>Contact Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'organization', :collection => @organizations %>
    </tbody>
  </table>
</div>
<%= link_to 'New Organization <i class="glyphicon glyphicon-plus"></i>'.html_safe, new_admin_organization_url, :class => "btn btn-success btn-lg" %>