<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Wishlist Management</h3></div>
  <div class="panel-body">
  <p>Manage your wishlists here.</p>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'wishlist', :collection => @wishlists %>
    </tbody>
  </table>
</div>
<%= link_to "New Wishlist", new_admin_organizations_campaigns_wishlists_url, :class => "btn btn-primary btn-lg" %>