/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

body {
  color: #5a5a5a;
  padding-top: 50px;
}
nav.main {
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.admin-template {
  padding: 40px 15px;
}
.avatar { margin: 0px; padding: 0px; height: 18px; width: 18px;}


/* Featurettes
------------------------- */

.featurette {
  padding: 80px 0;
  border-top: 1px solid #eee;
}

/* Thin out the marketing headings */
.featurette-heading {
  margin-left: -1px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette .btn {
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.25);
}

.home {
  margin: 0 -15px;
}

.home .title {
  text-align: center;
}
.hero-top {
  background-image: url(/assets/hero-top.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.hero1 {
  background-image: url(/assets/hero1.png);
  background-repeat: no-repeat;
}
.hero2 {
  background-image: url(/assets/hero2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.hero-bottom {
  background-image: url(/assets/hero-bottom.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 120px 0;
}
.logo {
  margin-top: -20px;
  margin-left: -22px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}




.library {
}
.library > .row {
  display: flex;
}
.library .sidebar {
  display: inline-block;
  position: fixed;
}
.book {
  float: left;
  width: 200px;
  height: 200px;
  margin: 2em;
}
.search {
  display: flex;
  flex-direction: column;
  margin-left: 325px;
}
.search-header {
  padding: 0 2em 2em;
}
.search-results {
  flex: 1;
  padding-bottom: 100px;
}
.table.list-campaigns .campaign-info > tr{
  padding:30px;
}
.table.list-campaigns .campaign-info .edit-wishlist, .table.list-wishlist .list-wishlist-info .edit-wishlist, .table.list-wishlist .list-wishlist-info .delete-wishlist{
  background:white;
  border-color:black;
  padding-top:3px;
  padding-bottom:3px;
}
.wishlist-header .list-wishlist {
  display:inline-block;
}
.wishlist-header .add-wishlist {
  float:right;
  margin-top:20px;
}

