/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

 @media print {
    table {page-break-after: always;}
    nav, #breadcrumb {display: none;}
}

body {
  color: #5a5a5a;
  padding-top: 50px;
}
nav.main {
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2);
}
.navbar-brand { padding: 0px; }
.navbar-brand img { height: 100%; }
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.admin-template {
  padding: 40px 15px;
}
.avatar { margin: 0px; padding: 0px; height: 18px; width: 18px;}

.outer-panel > .panel { margin-right: 15px; margin-left: 15px; margin-bottom: 1em; }

.field_with_errors {
  @extend .has-error;
}

/* Featurettes
------------------------- */

.featurette {
  padding: 5% 0;
  border-top: 1px solid #eee;

  &.hero2{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }

}


/* Thin out the marketing headings */
.featurette-heading {
  margin-left: -1px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  text-align:center;
}
.featurette .btn {
  box-shadow: 0 1px 6px 1px rgba(0,0,0,.25);
}

.featurette .mhl-logo {
  padding-top: 2.5em;
}

.home {
  margin: 0 -15px;
}

.home .title {
  text-align: center;
}

.logo {
  margin-top: -20px;
  margin-left: -22px;
  max-width: 100%;
  height: auto;
}

.mhl-logo img {
  max-width: 100%;
  height: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
  .hero-top {
    background-image: image-url('hero-top.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
  .hero1 {
    background-image: image-url('hero1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .hero2 {
    background-image: image-url('hero2.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  .hero-bottom {
    background-image: image-url('hero-bottom.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 120px 0;
  }
}

.library {
}
.library > .row {
  display: flex;
}
.library .sidebar {
  display: inline-block;
  position: fixed;
}
.book {
  float: left;
  width: 350px;
  height: 220px;
  margin: 2.5em 3em 0 0;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}
.book-title {
  font-size: 1.2em;
  margin: 0;
}
.book-author {
}
.book-cover {
  float: left;
  max-width: 150px;
  max-height: 10em;
  margin: 0 1em .25em 0;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px #ccc;
}
.thumb-book-cover {
  width: 30px;
  margin-right: 4px;
  max-height: 25px;
  float: left;
}
.book-description {
  position: relative;
  height: 9em;
  overflow: hidden;
}
.book:hover .book-description {
  text-decoration: none;
}
.book-description:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.4em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.current-wishlist {
  width: 23%;
}

.search {
  display: flex;
  flex-direction: column;
  margin-left: 325px;
}
.search-header {
  padding: 0 2em 2em;
}
.search-results {
  flex: 1;
  padding-bottom: 100px;
}

#sponsor-list {
  top: 200px;
}

.profile {
  width: 250px;
  height: 250px;
  float: left;
  margin: 1em;
  @extend .panel, .panel-default;
  padding: 0.5em 2em;
}

.brand-logo{
  margin:10px;
  display:block;
}

/* lead
------------------------- */
.lead-logos {
  display: table;
  width: 100%;
  margin-top: 30px;
}
.lead-logos > div{
  display: table-cell;
  float: none;
  margin: 0 auto;
  table-layout: auto;
  width: 25%;
}
.lead-logo {
  background-size: contain;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top:20px;
  margin-bottom: 20px;


  &.credera {
  }
  &.phillips {
  }
}
