<div class="featurette hero2">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="featurette-heading">Special Thanks to Our Partners</h2>
    </div>
  </div>
  <div class="row lead-logos">
    <div class="col-sm-3 lead-logo phillips" style="background-image:url(<%= asset_path('66color.gif') %>);" ></div>
    <div class="col-sm-3 lead-logo marathon" style="background-image:url(<%= asset_path('marathon-oil-logo.png') %>);" ></div>
    <div class="col-sm-3 lead-logo credera" style="background-image:url(<%= asset_path('credera.png') %>);" ></div>
  </div>
</div>
